<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/base_layout}">

    <main layout:fragment="main" class="centered-content card">

		
        <div class="my-2 card">
            <div class="card-header text-center">
                <h1>레시피 리스트</h1>
            </div>
            <h1>요리나 재료를 검색해보세요</h1>
            
            
            
            <form class="search-form" role="search" th:action="@{/search}" method="get">
    <div class="search-container">
        <input type="search" class="form-control search-input text-right" placeholder="Search" aria-label="Search" th:name="searchQuery">
        <button type="submit" value="검색" class="search-button">
            <img th:src="@{/static/assets/icons/search-heart.svg}" alt="검색">
        </button>
    </div>
</form>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <img src="/img/111.jpeg">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                <div>
                    <span>좋아요</span>3<p class="text-14px font-normal text-gray-600 truncate-1-lines">#비건, #간단요리, #가벼운요리, #건강식, #입맛돋우는요리</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="/img/111.jpeg">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                <div>
                    <span>좋아요</span>5<p class="text-14px font-normal text-gray-600 truncate-1-lines">#비건, #간단요리, #가벼운요리, #건강식, #입맛돋우는요리</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="/img/111.jpeg">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                <div>
                    <span>좋아요</span>9<p class="text-14px font-normal text-gray-600 truncate-1-lines">#비건, #간단요리, #가벼운요리, #건강식, #입맛돋우는요리</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="h-14px bg-gray-0 sm:my-48px" style="margin-top: 0px; margin-bottom: 0px;"></div>


            
    </main>

	<th:block layout:fragment="myscripts">
        <script src="/js/review/review-star.js"></script>
    </th:block>

</html>